$primary-color: #1bd3e3;
$secondary-color: #f41d07;
$bck-color: #efefef;
		   
body {
    padding-top: 20px;
    font-family: "GT Pressura Light", Arial;
}

html {
  overflow-y: scroll;
}

.label-fade {
  opacity: 0;
  transition: transform 0.5s ease-in-out;
  &.label-show {
    opacity: 1;
  }
}

.width100{
    width: 100px;
}

@font-face{
    font-family: "GTPressura";
    src: url("../fonts/GT-Pressura-Regular.otf") format("opentype");
}
@font-face{
    font-family: "GTPressura-Light";
    src: url("../fonts/GT-Pressura-Light.otf") format("opentype");
}
@font-face {
    font-family: "GTPressura-Bold";
    src: url("../fonts/GT-Pressura-Bold.otf") format("opentype");
}

@font-face {
    font-family: MaisonNeue-Light;
    src: url('../fonts/MaisonNeue-Light.ttf');
}

.background{
    background-color: white; // $bck-color;
}


@media screen and (min-width: 768px){
       .mainTitle{
		font-size: 80px !important;
	}
}

@media screen and (max-width: 768px){
       .mainTitle{
		font-size: 60px !important;
	}
}

.mainTitle{
    font-family: "GTPressura-Bold", Roboto;
}

.primaryColor{
	color: $primary-color;
}

.secondaryColor{
	color: $secondary-color;
}

.button {
	/* shamelessly copied x2 */
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(244, 29, 7);
	border-bottom-style: solid;
	border-bottom-width: 7px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(244, 29, 7);
	border-left-style: solid;
	border-left-width: 7px;
	border-right-color: rgb(244, 29, 7);
	border-right-style: solid;
	border-right-width: 7px;
	border-top-color: rgb(244, 29, 7);
	border-top-style: solid;
	border-top-width: 7px;
	box-sizing: border-box;
	color: rgb(244, 29, 7);
	cursor: pointer !important;
	font-family: GTPressura-Bold;
	font-size: 38.4px;
	font-style: normal;
	font-weight: 700;
	left: 0px;
	line-height: 70px;
	margin-bottom: 6px;
	margin-top: 6px;
	min-width: 81px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-decoration-color: rgb(244, 29, 7);
	text-decoration-line: none;
	text-decoration-style: solid;
	top: 0px;
	transition-delay: 0s, 0s;
	transition-duration: 0.03s, 0.03s;
	transition-property: top, left;
	transition-timing-function: ease, ease;
}

.button::after {
	background-color: rgb(244, 29, 7);
	box-sizing: border-box;
	color: rgb(244, 29, 7);
	cursor: pointer;
	display: block;
	font-family: GTPressura-Bold;
	font-size: 38.4px;
	font-style: normal;
	font-weight: 700;
	height: calc(14px + 100%);
	letter-spacing: 0.7px;
	line-height: 86.4px;
	position: absolute;
	text-align: center;
	transition-delay: 0s, 0s;
	transition-duration: 0.03s, 0.03s;
	transition-property: top, left;
	transition-timing-function: ease, ease;
	width: calc(14px + 100%);
}

@media (min-width: 768px){
.button:after {
    top: 0;
    left: 0;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
}
}

.button.primary:after {
    z-index: -1;
    display: block;
    content: '';
					    }

.button:hover {
    animation: push-social-button .2s ease-in-out;
}

.button:hover:after{-webkit-animation:push-social-button-after .2s ease-in-out;animation:push-social-button-after .2s ease-in-out}

@keyframes push-social-button{0%,100%,50%{right:-3px;left:auto;top:auto;bottom:-3px}}
@keyframes push-social-button-after{0%,100%,50%{background-color:transparent}}

.text-input {
    border: solid 7px #444;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-family: MaisonNeue-light;
    font-size: 35px;
    padding: 5px;
    width: 100%;
    height: 100%;
}
.text-input-icon{
	font-size: 30px;
}

body{
background-color: #efefef;	
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 15px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  2px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  50px; }
.right-addon input { padding-right: 50px; }

.top-margin-10{
	margin-top: 10px;
}

.bot-margin-10{
	margin-bottom: 10px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: $primary-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.alert-error {
    background-color: #f2dede;
    border-color: $secondary-color;
    color: $secondary-color;
}

.alert-font{
	font-family: MaisonNeue-light;
	font-size: 20px;
}